@import "../style/mixin";
@import "../style/variables";
.flight_dropdown_container{
    fill: $text-color;
    width: 5rem;
    height: 2.5rem;
    @include flexCenter(row);
    color: $text-color;
    border-radius: 4px;
    @include borderNone();
    svg#arrow_up {
        transition: all .2s ease;
        transform: rotate(180deg)
    }
}

.flight_dropdown_container:hover{
    background-color: whitesmoke;
}
.btn_focus{
    // outline-width: 2px;
    // outline-style: solid;
    // outline-color: $text-color;
    background-color: whitesmoke;
    fill: $primary-color;
    color: $primary-color;
}
.flight_dropdown_container span {
padding-left: 8px;
padding-right: 8px;
}

