
  
  .dropdown-content {
    max-width: 10rem;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
  }
  .main-links > ul li {
    padding: 2rem;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 20px;
    background-color: #03b1fc;
    font-family: inherit; 
  }
  .navbar#dropdown-link  a:hover, .dropdown:hover .dropbtn {
    background-color: #03b1fc;
  }
  .dropbtn > i {
    padding-left: .5rem;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }