@import "../../../style/mixin";
@import "../../../style/variables";

.inner_where_from_selector_container{
    position: absolute;
    top: 0;
    width:28rem;
    @include flexCenter(row);
    height:10rem;
    box-shadow: $box-shadow;
    border-radius: 4px;
    background: white;
    z-index: 3;
}
.inner_content {
    margin-top: 3.2rem;
}