@import "../../../style/mixin";
@import "../../../style/variables";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.inner_where_to_selector_container{
  position: absolute;
  top: 0;
  width:28rem;
  height: 3.2rem;
  @include flexCenter(row);
  box-shadow:$box-shadow;
  border-radius: 4px;
  background: white;
  z-index: 3;
}
*{
  margin:0;
  padding:0;
}

.input-suggestion{
  padding: 1rem 0;
  font-family: 'Lato', sans-serif;
  width: 28rem;
  height: fit-content;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
  i {
    margin-left:1rem;
    margin-right:1rem;
    color: $text-color;
  }
}
.input-suggestion:hover{
    background: whitesmoke;
}
.autocomplete__dropdown__container {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 3.25rem;
    left: 0;
    box-shadow:  0px 0px 0px 1px rgb(228, 225, 225);;
}