.inner_drop_down_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 20rem;
  height: 19.5rem;
  padding: 0px 1rem;
  -webkit-box-shadow: 0px 0px 2px 1px #e4e1e1;
          box-shadow: 0px 0px 2px 1px #e4e1e1;
  background: white;
  z-index: 3;
}

.ul-container {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 16px 16px 0;
  font: 16px/24px Roboto, Arial, sans-serif;
  letter-spacing: .1px;
  color: #5f6368;
}

.ul-container li#adult, .ul-container li#childrent, .ul-container li#infant_in_seat {
  padding-bottom: 1rem;
}

.ul-container li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-container li .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ul-container li .left span:nth-child(2) {
  font-size: 0.75rem;
}

.ul-container li .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ul-container li .right button {
  width: 2rem;
  height: 2rem;
  border-style: none;
  background: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-container li .right button#minus {
  background: whitesmoke;
}

.ul-container li .right button#plus {
  background: #e1f5fe;
}

.ul-container li .right button#plus:hover {
  background: #bfebff;
}

.ul-container li .right button#plus:hover i {
  color: #1c77ff;
}

.ul-container li .right i.fa-minus {
  color: #686363;
}

.ul-container li .right i.fa-minus.second-color-fa-minus {
  color: #0fa9eb;
}

.ul-container li .right i.fa-plus {
  color: #0fa9eb;
}

ul {
  list-style: none;
}

.operations {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operations button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 60%;
  background: transparent;
  border-style: none;
  background: white;
  color: #0fa9eb;
  margin-left: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.operations button:hover {
  background: #e1f5fe;
}
/*# sourceMappingURL=InnerDropDown.css.map */